/* Sembunyikan scrollbar untuk Chrome, Safari, dan Edge */
main::-webkit-scrollbar {
    display: none;
}

/* Sembunyikan scrollbar untuk Firefox */
main {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE dan Edge lama */
}