/* Sembunyikan scrollbar untuk Chrome, Safari, dan Edge */
main::-webkit-scrollbar {
    display: none;
}

/* Sembunyikan scrollbar untuk Firefox */
main {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE dan Edge lama */
}

/* Jangan pakai titik (.) agar langsung nembak ke tag HTML/Body */

/* Chrome, Safari, Opera */
html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}

/* IE, Edge, Firefox */
html, body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
